<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant - Guide</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{url_for('static', filename = 'images/logo/logo-coin-128x118.ico')}}" rel="icon">

    <!-- Google Web Fonts -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 


    <!-- Icon Font Stylesheet -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> -->
    <link href="{{url_for('static', filename = 'fontawesome-free-6.3.0-web/css/all.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'fontawesome-free-6.3.0-web/css/fontawesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'fontawesome-free-6.3.0-web/css/regular.min.css')}}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for('static', filename = 'lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">


<style>
    .bg-secondary {
    background-color: white !important;}

    .text-primary {
    color: #DBAC17 !important;}

    .bg-dark {
    background-color: rgb(245, 240, 240) !important;}
    
    input.form-control.bg-dark.border-0{
        box-shadow: 0 0 0 0.25rem rgba(207, 206, 206, 0.25);
    }
    input.form-control.bg-dark.border-0:focus {
        box-shadow: 0 0 0 0.25rem rgba(223, 168, 18, 0.25);
    }
    img{width: 100%;}






.table_baoquanh{
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    height: fit-content;
    min-height: 50vh;
    height: fit-content;
    /* max-height: 50vh; */
    /* margin-left: 45px;
    margin-right: 45px;     */
}


table{
    table-layout: fixed;
    margin-right: 20px; 
}


    
    .mau_table_tieude {
    position: sticky;
    top: 0px;
    background-color: #e6aa00;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    outline: 0.9px solid white;
    border: 1.5px solid white;
    padding: 0 10px;
  }



</style>


</head>

<body>



    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/dashboard" class="navbar-brand mx-4 mb-3">
                    <img src="{{url_for('static', filename = 'images/logo/logo_ngang.png')}}">
                </a>
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Check Nhân Viên</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Cấp Mã NV</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>NV Nghỉ Việc</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>STK Ngân Hàng</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/dashboard" class="navbar-brand d-flex d-lg-none me-4">
                    <div class="text-primary mb-0">
                        <img src="{{url_for('static', filename = 'images/logo/logo-coin-68x63.png')}}">
                    </div>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" placeholder="Search" id="myInput">
                </div>
                <div class="navbar-nav align-items-center ms-auto">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle hidden-after" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2 "></i>
                            <!-- <span class="d-none d-lg-inline-flex">Notificatin</span> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{{url_for('static', filename = 'images/icons/user.gif')}}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Nguyễn Anh Dũng</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">Đổi Mật Khẩu</a>
                            <!-- <a href="#" class="dropdown-item">Settings</a> -->
                            <a href="#" class="dropdown-item">Đăng Xuất</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->



            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Hướng Dẫn Sử Dụng </h6>
                            <div class="table_baoquanh">
                                <table class="table">
                                    <thead>
                                        <tr class="mau_table_tieude">
                                            <!-- <th scope="col">#</th> -->
                                            <th scope="col">Tác Vụ Chính</th>
                                            <th scope="col">Tác Vụ Phụ</th>
                                            <th scope="col">file hướng dẫn download</th>
                                            <th scope="col">Version</th>
                                            <th scope="col">Active</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">


                                        <!-- <tr>
                                            <td class="chinhlai_input_the_td"><input class="input_table" value=""></td>
                                            <td class="chinhlai_input_the_td"><input class="input_table" value=""></td>
                                            <td class="chinhlai_input_the_td"><a href="https://vat.ggg.com.vn/" class="col-sm-6 col-xl-3" target="_blank">teenfile.xxx</a></td>
                                            <td class="chinhlai_input_the_td"><input class="input_table" value=""></td>
                                        </tr> -->
                                        {{DANHSACH_HTML}}
    

                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
            <!-- Table End -->


           


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <!-- <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div> -->
                        <div class="col-12 col-sm-12 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                             <a href="/" style="font-size: 1.5rem; color: red; font-weight: 600;">IT HCM Department</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

        </div>
        <!-- Content End -->

        <div class="success-notification">
            <i class="fas fa-check"></i>
            <p>Thành công</p>
            <i class="fas fa-times close-icon"></i>
        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" id="myBtn"><i class="bi bi-arrow-up"></i></a>




 <!--Modal: modalConfirm INSERT-->
    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
        <p>Some text in the modal.</p>
        <button>Close Modal</button>
        </div>
    </div>
<!--Modal: modalConfirm INSERT-->
   <!--Modal: modalConfirm INSERT-->
   <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">

       <div class="modal-header" style="text-align:center;">
         <h5 class="modal-title" id="exampleModalLabel">Insert Nhà Hàng Mới</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form method="POST" enctype="multipart/form-data">

           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Mã SAP:(*)</label>
             <input name="sap_insert" type="text" class="form-control" id="recipient-name" value="" required>
             <input type="hidden" name="_id_insert" style="height:0px;width:0px;" value="">
           </div>

           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Coscenter:(*)</label>
             <input name="cos_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Mã RK7:(*)</label>
             <input name="rk7_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Tên Nhà Hàng:(*)</label>
             <input name="res_insert" type="text" class="form-control" id="recipient-name" value="" required>
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">IP:(*)</label>
             <input name="ip_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Teamview PC:(*)</label>
             <input name="teamviewpc_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Teamview POS11:(*)</label>
             <input name="teamviewpos11_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Teamview POS12:(*)</label>
             <input name="teamviewpos12_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">SDT:(*)</label>
             <input name="sdt_insert" type="number" min="0" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Email:(*)</label>
             <input name="email_insert" type="email" class="form-control" id="recipient-name" value="">
           </div>

           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Region:(*)</label>
             <select name="region_insert" class="selectpicker form-control" data-live-search="true">
               <option label="An Giang">An Giang</option>
               <option label="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
               <option label="Bạc Liêu">Bạc Liêu</option>
               <option label="Bắc Kạn">Bắc Kạn</option>
               <option label="Bắc Giang">Bắc Giang</option>
               <option label="Bắc Ninh">Bắc Ninh</option>
               <option label="Bến Tre">Bến Tre</option>
               <option label="Bình Dương">Bình Dương</option>
               <option label="Bình Định">Bình Định</option>
               <option label="Bình Phước">Bình Phước</option>
               <option label="Bình Thuận">Bình Thuận</option>
               <option label="Cà Mau">Cà Mau</option>
               <option label="Cao Bằng">Cao Bằng</option>
               <option label="Cần Thơ">Cần Thơ</option>
               <option label="Đà Nẵng">Đà Nẵng</option>
               <option label="Đắk Lắk">Đắk Lắk</option>
               <option label="Đắk Nông">Đắk Nông</option>
               <option label="Điện Biên">Điện Biên</option>
               <option label="Đồng Nai">Đồng Nai</option>
               <option label="Đồng Tháp">Đồng Tháp</option>
               <option label="Gia Lai">Gia Lai</option>
               <option label="Hà Giang">Hà Giang</option>
               <option label="Hà Nam">Hà Nam</option>
               <option label="Hà Nội">Hà Nội</option>
               <option label="Hà Tĩnh">Hà Tĩnh</option>
               <option label="Hải Dương">Hải Dương</option>
               <option label="Hải Phòng">Hải Phòng</option>
               <option label="Hậu Giang">Hậu Giang</option>
               <option label="Hòa Bình">Hòa Bình</option>
               <option label="Thành phố Hồ Chí Minh" selected>Thành phố Hồ Chí Minh</option>
               <option label="Hưng Yên">Hưng Yên</option>
               <option label="Khánh Hòa">Khánh Hòa</option>
               <option label="Kiên Giang">Kiên Giang</option>
               <option label="Kon Tum">Kon Tum</option>
               <option label="Lai Châu">Lai Châu</option>
               <option label="Lạng Sơn">Lạng Sơn</option>
               <option label="Lào Cai">Lào Cai</option>
               <option label="Lâm Đồng">Lâm Đồng</option>
               <option label="Long An">Long An</option>
               <option label="Nam Định">Nam Định</option>
               <option label="Nghệ An">Nghệ An</option>
               <option label="Ninh Bình">Ninh Bình</option>
               <option label="Ninh Thuận">Ninh Thuận</option>
               <option label="Phú Thọ">Phú Thọ</option>
               <option label="Phú Yên">Phú Yên</option>
               <option label="Quảng Bình">Quảng Bình</option>
               <option label="Quảng Nam">Quảng Nam</option>
               <option label="Quảng Ngãi">Quảng Ngãi</option>
               <option label="Quảng Ninh">Quảng Ninh</option>
               <option label="Quảng Trị">Quảng Trị</option>
               <option label="Sóc Trăng">Sóc Trăng</option>
               <option label="Sơn La">Sơn La</option>
               <option label="Tây Ninh">Tây Ninh</option>
               <option label="Thái Bình">Thái Bình</option>
               <option label="Thái Nguyên">Thái Nguyên</option>
               <option label="Thanh Hóa">Thanh Hóa</option>
               <option label="Thừa Thiên Huế">Thừa Thiên Huế</option>
               <option label="Tiền Giang">Tiền Giang</option>
               <option label="Trà Vinh">Trà Vinh</option>
               <option label="Tuyên Quang">Tuyên Quang</option>
               <option label="Vĩnh Long">Vĩnh Long</option>
               <option label="Vĩnh Phúc">Vĩnh Phúc</option>
               <option label="Yên Bái">Yên Bái</option>
             </select>
           </div>

           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Brand:(*)</label>
             <select name="brand_insert" class="form-control" data-live-search="true">
               <option label="Khác">Khác</option>
               <option label="Ashima">Ashima</option>
               <option label="Asian Corner">Asian Corner</option>
               <option label="Cowboy Jack">Cowboy Jack</option>
               <option label="Crystal Jade">Crystal Jade</option>
               <option label="CK">CK</option>
               <option label="City Station">City Station</option>
               <option label="Daruma">Daruma</option>
               <option label="Gogi House">Gogi House</option>
               <option label="Gogi House Steak">Gogi House Steak</option>
               <option label="Hutong">Hutong</option>
               <option label="Isushi">Isushi</option>
               <option label="Kpub">Kpub</option>
               <option label="Kichi Kichi">Kichi Kichi</option>
               <option label="Sumo BBQ">Sumo BBQ</option>
               <option label="Phố 37">Phố 37</option>
               <option label="Vuvuzela">Vuvuzela</option>
               <option label="Manwah">Manwah</option>
               <option label="Yutang">Yutang</option>
               <option label="JB Coffee">JB Coffee</option>
               <option label="Icook">Icook</option>
               <option label="Magic Pan">Magic Pan</option>
             </select>
           </div>


           <div class="form-group">
             <label for="recipient-name" class="col-form-label">IP WAN:(*)</label>
             <input name="ipwan_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Ngày Khai Trương:(*)</label>
             <input name="ngay_khaitruong_insert" type="date" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">PASS OU KHÔNG SYS:(*)</label>
             <input name="pass_ko_sys_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">USER FTTH:(*)</label>
             <input name="userftth_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">PASS FTTH:(*)</label>
             <input name="passftth_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Thanh Toán FTTH:(*)</label>
             <input name="thanhtoanftth_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Ngày Online FTTH:(*)</label>
             <input name="ngayonlineftth_insert" type="date" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Pass Mail:(*)</label>
             <input name="passmail_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">EXT:(*)</label>
             <input name="ext_insert" type="text" class="form-control" id="recipient-name" value="">
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Trạng Thái:(*)</label>
             <select name="trangthai_insert" class="form-control">
               <option selected="selected" label="ON">ON</option>
               <option label="NEW">NEW</option>
               <option label="OFF">OFF</option>
             </select>
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Ghi Chú:(*)</label>
             <textarea rows="4" name="note_insert" class="form-control" placeholder="Ghi Chú"></textarea>
           </div>
           <div class="form-group">
             <label for="recipient-name" class="col-form-label">Từ Khóa Tìm Kiếm Mở Rộng:(*)</label>
             <textarea rows="4" name="timkiem_insert" class="form-control"
               placeholder="Từ Khóa Tìm Kiếm Mở Rộng"></textarea>
           </div>

           <div class="modal-footer">
             <button type="submit" class="btn btn-primary">Insert</button>
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

           </div>

         </form>
       </div>

     </div>
   </div>
 </div>
 <!--Modal: modalConfirm INSERT-->


        <!-- Back to Top -->
        <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa-sharp fa-solid fa-circle-up" style="color: white;"></i></a> -->
    </div>

    <!-- JavaScript Libraries -->

    <script src="{{url_for('static', filename = 'js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>



    <script src="{{url_for('static', filename = 'lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>


    <!-- Template Javascript -->
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>


<script>







</script>

<script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>


    <script>
        function iWillCallWhenBlur(value) {
        a = (value.value + '@@@')
        b = (value.name + '@@@')
        c = (value.id)

        d = String(a) + String(b) + String(c)
        // console.log(d)
        const xhttp = new XMLHttpRequest();

        xhttp.onloadstart = function (b) {
            // console.log('Bắt Đầu Xử Lý')
        }

        xhttp.onloadend = function (c) {
            // console.log('Xử Lý Xong')
            thongbao_thanhcong()
        }

        xhttp.onload = function (a_a) {
            // console.log(this.responseText)
            // console.log(this.statusText)
            document.getElementById("myTable").innerHTML + this.responseText
            // document.getElementById("onPostt_nhe1").innerHTML = this.statusText;
        }

        xhttp.open("POST", "/update_huongdan_app");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("gia_tri=" + String(d) + "&lname=Ford");
        }
        
    </script>



    <script>
        function thongbao_thanhcong() {
        const successNotification = document.querySelector(".success-notification");
        const closeIcon = document.querySelector(".close-icon");
        successNotification.style.display = "flex";
        closeIcon.addEventListener("click", function () {
            successNotification.style.display = "none";
        });
        setTimeout(function () {
            successNotification.style.display = "none";
        }, 2000);
        }
    </script>


        <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

        </script>



</body>

</html>